<div class="myfriends-title">
  <h1>My Pet Pictures</h1>
</div>
<%= simple_form_for(@pet) do |f| %>
  <!-- [...] -->
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <!-- [...] -->
<% end %>
<div class="show-pet-card">
  <% @pet.photos.each do |photo| %>
    <div class="show-pet-card-card">
      <%=cl_image_tag(photo.key, class: "show-pet-card-images", height: 150, width:100, crop: :fill)  %>
    </div>
  <% end %>
</div>
<script>
  const petPhotos = document.querySelector("#pet_photos");
  const form = document.querySelector(".edit_pet");
  petPhotos.addEventListener("change", () => form.submit())
</script>