.mp-avatar-pet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 294px;
    p{
      font-size: 32px;
    }
}

.mp-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.mp-buttons2 {
  display: flex;
  justify-content: center;
}

.mp-weather {
  background-color: $white-mp;
  width: 100%;
  height: 100%;
}
